/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.scss';

.SearchPage-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;

  > h1 {
    text-align: center;
    margin-bottom: 80px;
  }
}

.SearchLines-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 310px;
  text-align: right;
  position: relative;
}

.SearchLines-loader {
  position: absolute !important;
  top: 50% !important;
  margin-top: -50px !important;
  right: 50%;
}
