@import '../variables.scss';
.BusLines {
  .BusLines-lineInfo {
    vertical-align: middle;
    display: table;
    height: 170px;
    margin-left: 30px;

    .BusLines-lineInfoText {
      display: table-cell;
      vertical-align: middle;
      font-size: 24px;

      > h3 {
        margin: 0;
      }

      .lineBefore {
        &::before {
          content: '|';
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}

.BusLines-container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: $max-content-width;
  clear: both;

  .mui-table-row-column {
    text-align: center;
  }

  .mui-table-row:nth-child(2n+1) td {
    background-color: #f3f3f3 !important;
  }

  .BusLines-line {
    width: 100%;
    border-bottom: 2px solid #E9E9E9;

    &:first-child {
      border-top: 2px solid #E9E9E9;
    }

    &:hover {
      box-shadow: inset 5px 0 0 #ff4081;
    }

    &.BusLines-line-isExpanded {
      box-shadow: inset 5px 0 0 #ff4081;
    }

  }

  .BusLines-lineDetails {
    padding: 1rem;
  }

  .BusLines-lineDetailsExpanded {
    padding: 1rem;
    background-color: #ff4081;
    color: white;
  }

  .BusLines-time {
    font-weight: bold;
    margin-right: 1rem;
  }

  .BusLines-station {

  }
}
